html {
  font-size: 1.2vw;
}
#app,
#home {
  height: 100%;
  color: $textColor;
}

.__handCursor {
  cursor: pointer;
}

.__text-center {
  text-align: center;
}

.upload-code {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background-color: $bgColor;
  text-indent: 0;
  box-sizing: border-box;
  padding: 8px 7px;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 1px 5px #001913;
  cursor: pointer;
}
.upload-code:hover {
  color: $greenLight;
  background-color: #fff;
}

.el-button:focus {
  background-color: $bgColor;
  color: #fff;
}
.el-button:hover {
  background-color: $bgColor;
  color: #fff!important;
}
